<div layout="column"  ng-cloak>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
    md-disable-backdrop md-whiteframe="4">
<center>
      <md-toolbar class="md-theme-teal">
        <img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px" style="margin-top:40px">
        <hr class= "extra-margins">
        <h4>{{user}}</h4>
        <h5>email</h5>
      </md-toolbar>
</center>
      <md-content layout-margin>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Hide Navigator
        </md-button>
      </md-content>
      <md-list flex>
        <md-list-item  ui-sref="viewWorker" ui-sref-active="active" class="md-1-line">
           <p>Worker List</p>
         </md-list-item>
         <md-list-item  ui-sref="bookings" ui-sref-active="active" class="md-1-line">
            <p>New/Open Bookings</p>
          </md-list-item>
          <md-list-item  ui-sref="myBookings" ui-sref-active="active" class="md-1-line">
             <p>My Bookings</p>
           </md-list-item>
                    <md-list-item ui-sref="addWorker" ui-sref-active="active" class="md-1-line" >
                     <p>AddWorker</p>
                    </md-list-item>
                    <md-list-item ui-sref-active="active" class="md-1-line" ng-click="logout()" >
                     <p>Logout</p>
                    </md-list-item>
                    <md-list-item class="md-1-line"  >
                      <p>Settings</p>
                    </md-list-item>
                 </md-list>
    </md-sidenav>

<div class="container">



  <div class="md-whiteframe-2dp addCompany" ng-show="updateCompanyStatus" layout-padding style="margin-bottom:5px;" >
    <h4>Update worker</h4>
   <form name="updateWorkerForm" layout="row" layout-padding layout-align="space-around center" >
     <md-input-container class="md-block" flex-gt-sm>
       <label>Name</label>
       <input ng-model="workerUpdate.name" required>
       </md-input-container>

       <md-input-container class="md-block" flex-gt-sm >
         <label>Address</label>
         <input ng-model="workerUpdate.address" required>
         </md-input-container>

         <md-input-container class="md-block" flex-gt-sm >
           <label>Phone</label>
           <input ng-model="workerUpdate.phone" name="phone" type="number" minlength="10" required>
           <span class="error" ng-show="addCompanyForm.phone.$touched&&addCompanyForm.phone.$invalid">
              Not a valid number!</span>
           </md-input-container>
           <md-input-container class="md-block" flex-gt-sm >
             <label>Smartphone?</label>
             <input ng-model="workerUpdate.smartphone" required>
             </md-input-container>
             <md-input-container class="md-block" flex-gt-sm >
               <label>Vehicle</label>
               <input ng-model="workerUpdate.vehicle" required>
               </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm >
                   <label>Qualification</label>
                   <input ng-model="workerUpdate.qualification" required>
                   </md-input-container>
             <md-input-container class="md-block" flex-gt-sm >
               <label>Outstation Work</label>
               <input ng-model="workerUpdate.outstation" required>
               </md-input-container>
               <div class="md-block" flex-gt-sm>
              <md-autocomplete
                  md-selected-item="selectedItem1"
                 md-no-cache="noCache"
                  md-search-text-change="searchTextChange(searchText1)"
                  md-search-text="searchText1"
                  md-selected-item-change="selectedItemChange(selectedItem1)"
                  md-items="item in types(searchText)"
                  md-item-text="item"
                  md-min-length="0"
                  placeholder="Add Work Area">
                <md-item-template>
                  <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
                </md-item-template>
              </md-autocomplete>
             <div class="">
          <table class=" table ">
            <th>Work Area</th>
            <tr ng-repeat="d in area track by $index">
               <td>{{d}}</td>
            </tr>
          </table>
        </div>
           </div>
           </form>
           <div layout="row">
             <form name="up.upload_form" layout="row" layout-padding layout-align="space-around center" >
             <input type="file" ngf-select ng-model="image" name="file" ngf-pattern="'image/*'"
               accept="image/*"
               ngf-max-size="20MB"/>
               Image thumbnail: <img style="width:100px;" ngf-thumbnail="image || '/thumb.jpg'"/>
               <i ng-show="up.upload_form.file.$error.required">*required</i><br>
               <i ng-show="up.upload_form.file.$error.maxSize">File too large
                 {{up.file.size / 1000000|number:1}}MB: max 2Mb</i>
                 <button type="submit" ng-click="submit()">submit</button>
                 <p>{{up.progress}}

</form>
<md-autocomplete
    md-selected-item="selectedItem"
   md-no-cache="noCache"
    md-search-text-change="searchTextChange(searchText)"
    md-search-text="searchText"
    md-selected-item-change="localityUpdate(selectedItem)"
    md-items="item in locality1(searchText)"
    md-item-text="item"
    md-min-length="0"
    placeholder="Add Localities">
  <md-item-template>
    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
  </md-item-template>
</md-autocomplete>
<div class="">
<table class=" table ">
<th>Localities</th>
<tr ng-repeat="l in workerUpdate.locality track by $index">
  <td>{{l}}</td>
</tr>
</table>
</div>
           </div>
    <div layout="row"layout-align="center center">
      <md-button class="md-primary md-raised"  ng-click="updateWorker()" ng-disabled="updateWorkerForm.$invalid">UPDATE</md-button>
    </div>


  </div>



	<md-card style="margin:0px">
    <div class="md-whiteframe-2dp addProduct" layout-padding>
    <div layout="row"><md-button ng-click="toggleLeft()" class="md-raised">Show/Hide Navigation</md-button></div>
    <h4 style="padding-left:10px">Worker List</h4>
	            <md-input-container style="margin:15px;">
	                <label>Filter by search</label>
	                <input type="text" ng-model="filterName">
	            </md-input-container>

	            <div ng-hide="true">
	                {{(filteredItems = (workerArray | filter: filterName))}}
	            </div>
	        </md-card>
</div>
	<mdt-table table-card="{visible: true, title: 'Workers'}"
							largeEditDialog.saveButtonLabel="hello"
							 selectable-rows="true"
	             alternate-headers="'contextual'"
							 paginated-rows="{isEnabled: true, rowsPerPageValues: [10,15,20,50]}"
               selected-row-callback="selectedRowCallback(rows)"
               delete-row-callback="deleteRowCallback(rows)"
               update-row-callback="updateRowCallback(rows)"
	             mdt-row="{
 												'data':filteredItems,
	                      'table-row-id-key': '_id',
	                      'column-keys': [
	                          'name',
	                          'address',
                            'phone',
                            'smartphone',
                            'vehicle',
                            'outstation',
                            'workarea'
	                      ]
	                      }">
	    <mdt-header-row>
        <mdt-column align-rule="left" editable-field="textInput"><span>Name</span></mdt-column>
	      <mdt-column align-rule="left"><span>Address</span></mdt-column>
        <mdt-column align-rule="left"><span>Phone</span></mdt-column>
				<mdt-column align-rule="left"><span>Smartphone</span></mdt-column>
        <mdt-column align-rule="left"><span>Vehicle</span></mdt-column>
        <mdt-column align-rule="left"><span>Outstation Work</span></mdt-column>
        <mdt-column align-rule="left"><span>Work Type</span></mdt-column>
      </mdt-header-row>
	  </mdt-table>


</section>
</div>
