<div class="container">
<section layout="row" flex>
  <md-sidenav class="md-sidenav-left" md-component-id="left"
  md-disable-backdrop md-whiteframe="4">
<center>
    <md-toolbar class="md-theme-teal">
      <img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px" style="margin-top:40px">
      <hr class= "extra-margins">
      <h4>{{user}}</h4>
      <h5>email</h5>
    </md-toolbar>
</center>
    <md-content layout-margin>
      <md-button ng-click="toggleLeft()" class="md-accent">
        Hide Navigator
      </md-button>
    </md-content>
    <md-list flex>
      <md-list-item  ui-sref="viewWorker" ui-sref-active="active" class="md-1-line">
         <p>Worker List</p>
       </md-list-item>
       <md-list-item  ui-sref="bookings" ui-sref-active="active" class="md-1-line">
          <p>New/Open Bookings</p>
        </md-list-item>
        <md-list-item  ui-sref="myBookings" ui-sref-active="active" class="md-1-line">
           <p>My Bookings</p>
         </md-list-item>
                  <md-list-item ui-sref-active="active" class="md-1-line" ng-click="toggleLeft()" >
                   <p>Add Worker</p>
                  </md-list-item>
                  <md-list-item ui-sref-active="active" class="md-1-line" ng-click="logout()" >
                   <p>Logout</p>
                  </md-list-item>
                  <md-list-item class="md-1-line"  >
                    <p>Settings</p>
                  </md-list-item>
               </md-list>
  </md-sidenav>
<div class="md-whiteframe-2dp addProduct" layout-padding  >
 <div layout="row">
 <md-button ng-click="toggleLeft()" class="md-raised">Show/Hide Navigation</md-button></div>
 <h4>Add Worker</h4>
 <form name="addWorkerForm" layout-padding layout-align="space-around center" >
   <div layout="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Name</label>
      <input ng-model="worker.name" required>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm >
        <label>Address</label>
        <input ng-model="worker.address" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
          <label>Phone</label>
          <input ng-model="worker.phone" name="phone" type="number" minlength="10" required>
          <span class="error" ng-show="addCompanyForm.phone.$touched&&addCompanyForm.phone.$invalid">
             Not a valid number!</span>
          </md-input-container>
</div>
<div layout="row">
          <md-input-container class="md-block" flex-gt-sm >
            <label>Smartphone?</label>
            <input ng-model="worker.smartphone" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm >
              <label>Vehicle</label>
              <input ng-model="worker.vehicle" required>
              </md-input-container>
              </div>
              <div layout="row">
                <md-input-container class="md-block" flex-gt-sm >
                  <label>Qualification</label>
                  <input ng-model="worker.qualification" required>
                  </md-input-container>
            <md-input-container class="md-block" flex-gt-sm >
              <label>Outstation Work</label>
              <input ng-model="worker.outstation" required>
            </md-input-container>
          </div>
            <div class="md-block" flex-gt-sm>
  					<md-autocomplete
   	          md-selected-item="selectedItem1"
              md-no-cache="noCache"
   	          md-search-text-change="searchTextChange(searchText)"
   	          md-search-text="searchText1"
   	          md-selected-item-change="addWorkerLocality(selectedItem1)"
   	          md-items="item in locality1(searchText1)"
   	          md-item-text="item"
   	          md-min-length="0"
   	          placeholder="Add Localities of Work">
   	        <md-item-template>
   	          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
   	        </md-item-template>
   	      </md-autocomplete>
          <div class="">
       <table class=" table ">
         <th>Locality</th>
         <tr ng-repeat="d in worker.locality track by $index">
            <td>{{d}}</td>
         </tr>
       </table>
     </div>
        </div>  <div class="md-block" flex-gt-sm>
          <md-autocomplete
            md-selected-item="selectedItem"
            md-no-cache="noCache"
            md-search-text-change="searchTextChange(searchText)"
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(selectedItem)"
            md-items="item in types(searchText)"
            md-item-text="item"
            md-min-length="0"
            placeholder="Add Work Area">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
        </md-autocomplete>
        <div class="">
     <table class=" table ">
       <th>Work Area</th>
       <tr ng-repeat="d in area track by $index">
          <td>{{d}}</td>
       </tr>
     </table>
   </div>
      </div>
              <!-- <md-input-container class="md-block" flex-gt-sm >
                <label>Type of Work</label>
                <md-select ng-model="worker.workarea" placeholder="Work Area" class="md-no-underline" required>
                  <md-option value="leaflet_distribution">Leaflet Distribution</md-option>
                  <md-option value="labour">Construction Labour</md-option>
                  <md-option value="rajmistry">Raj Mistry</md-option>
                  <md-option value="catering">Catering Girls</md-option>
                  <md-option value="welcome">Welcome Girls</md-option>
                  <md-option value="promoters">Event Promoters</md-option>
                  <md-option value="others">Others</md-option>
                </md-select>
                </md-input-container> -->
                </form>
                <form name="up.upload_form" layout="row" layout-padding layout-align="space-around center" >
                <input type="file" ngf-select ng-model="image" name="file" ngf-pattern="'image/*'"
                  accept="image/*"
                  ngf-max-size="20MB"/>
                  Image thumbnail: <img style="width:100px;" ngf-thumbnail="image || '/thumb.jpg'"/>
                  <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                  <i ng-show="up.upload_form.file.$error.maxSize">File too large
                    {{up.file.size / 1000000|number:1}}MB: max 2Mb</i>
                    <button type="submit" ng-click="submit()">submit</button>
                    <p>{{up.progress}}
  <md-button class="md-primary md-raised" ng-click="createWorker()" ng-disabled="addCompanyForm.$invalid"> +ADD</md-button>
</form>
</div>
</div>
