<md-toolbar class="md-hue-2 md-whiteframe-1dp">
	<!-- <div class="md-toolbar-tools"> -->

		<div class="container">




	 <div layout="row" layout-align="space-between center">

		 <div>
				<img class="img-responsive" src="/img/paramount.png" alt="">
		 </div>

		 <div class="mainMenu md-whiteframe-1dp">
		 <ul>
			<li><a  ui-sref="adminDashboard">Dashboard</a></li>
			<li><a  ui-sref="expenses">Expenses</a></li>
			<li><a  ui-sref="addProduct">Product</a></li>
			<li><a  ui-sref="addCompany">Company</a></li>
			<li><a  ui-sref="productAllotment">Allotment</a></li>
			<li><a  ng-click="logout()">Logout</a></li>





		 </ul>


		 </div>
	 </div>


		</div>

	<!-- </div> -->
</md-toolbar>
<div class="trans" ui-view>

</div>
