<style >
  .topMar{
    margin-top:15px ;
  }





</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">

      <div class="md-whiteframe-1dp topMar"  layout-padding>

         <table class="table  bottomOne table-bordered">
          <tr>
           <th>OrderId</th>
           <th>Company</th>
           <th>Total</th>
           <th>Status</th>
           <th>Order Type</th>
           <th>Payment Type</th>
           <th>Date Added</th>
           <th>Date Modified</th>
         </tr>
         <tr>
           <td>#{{order.orderId}}</td>
           <td>{{order.companyName}}</td>
           <td>{{order.totalPrice| currency:"₹"}}</td>
           <td>{{order.status}}</td>
           <td>{{order.orderType}}</td>
           <td>{{order.paymentType}}</td>
           <td>{{order.createdAt}}</td>
           <td>{{order.dateModified}}</td>
         </tr>

         </table>

            <table class="table  bottomOne table-bordered" >
             <tr>
                <th>Product Name</th>
                <td ng-repeat="p in order.product">{{p.name}}</td>
             </tr>
             <tr>
               <th>Quantity</th>
              <td ng-repeat="p in order.product">{{p.quantity}}</td>
             </tr>
            </table>

            <table class="table  bottomOne table-bordered" >
             <tr>
                <th>Payment Status</th>
                <td>{{order.paymentStatus}}</td>
             </tr>
             <tr>
               <th>Payment Type</th>
                <td>{{order.paymentType}}</td>
             </tr>
             <tr>
               <th>Date Payment Modified</th>
                <td>{{order.paymentRecievedAt}}</td>
             </tr>

           </table>
         </table>
            <h4>Delivery</h4>
            <table class="table  bottomOne table-bordered" >
              <tr>
                <th>Route</th>
                 <td>{{order.route}}</td>
              </tr>
              <tr>
                <th>Assigned To</th>
                 <td>{{order.assignedTo}}</td>
              </tr>

           </table>



           <md-button class="md-primary md-raised" ui-sref="salesDashboard">back</md-button>


      </div>

    </div>

    <div class="col-md-4">
     <form name="orderUpdateForm">

      <div class="md-whiteframe-1dp topMar" layout="column" layout-padding layout-align="center stretch">
       <h3>Update Order: #{{order.orderId}}</h3>
        <md-input-container flex>
       <label>Order Type</label>
       <md-select name="type" required ng-model="updateArray.orderType" >
         <md-option value="recorded">Recorded</md-option>
         <md-option value="notRecorded">Not Recorded</md-option>
       </md-select>
        </md-input-container>


       <md-input-container flex>
         <label>Payment Status</label>
         <md-select name="payment" ng-change="checkAndDecide()" required ng-model="updateArray.paymentStatus" >
           <md-option value="notRecieved">Not Recieved</md-option>
           <md-option value="recieved">Recieved</md-option>
           <md-option value="returned">Returned</md-option>
           <md-option value="cancelled">Cancelled</md-option>
         </md-select>
       </md-input-container>

       <md-input-container flex>
         <label>Payment Type</label>
         <md-select name="payment" required ng-model="updateArray.paymentType" >
           <md-option value="cash">Cash</md-option>
           <md-option value="card">Card</md-option>
           <md-option value="notRecieved">Not Recieved</md-option>

         </md-select>
       </md-input-container>

       <md-input-container flex>
         <label>Order Status</label>
         <md-select name="payment" ng-change="checkAndDecide2()" required ng-model="updateArray.status" >
           <md-option value="pending">Pending</md-option>
           <md-option value="processing">Processing</md-option>
           <md-option value="dispatched">Dispatched</md-option>
           <md-option value="returned">Returned</md-option>
           <md-option value="cancelled">Cancelled</md-option>
         </md-select>
       </md-input-container>


       <div class="">
         <span><b>Payment Date: </b></span>  <md-datepicker flex  ng-model="updateDate" ng-change="selecteddateUpdate()" md-placeholder="Receive date"></md-datepicker>

       </div>



       <md-button  class="md-primary md-raised" ng-click="updateOrder()" ng-disabled="orderUpdateForm.$invalid">update</md-button>
     </form>


      </div>

    </div>


  </div>

</div>
