	<div class="container-fluid">

   <div class="row">
   	<div class="col-md-4">




       <div class="md-whiteframe-2dp" layout-padding >

            	<h1>Vendor Report</h1>
             <form name="supplierForm">
							 <div class="" layout="row">

							 <md-input-container flex>
							 <label>Vendor Name</label>
							 <md-select name="type" ng-model="supplierReportData.supplier" required>
									<md-option ng-value="role.name" ng-repeat="role in roleArray | filter: {roleName: 'vendor' }">{{role.name}}</md-option>
							 </md-select>
						 </div>

						 </md-input-container>
            	<div layout="row" layout-align="start start">

                   <div class="dpFix">

				      <md-datepicker required ng-model="startAtVendor" ng-change="selecteddateStart()" md-placeholder="Start date"></md-datepicker>
				   </div>

                  <div class="dpFix">

				      <md-datepicker required ng-model="endAtVendor" ng-change="selecteddateEnd()" md-placeholder="end date"></md-datepicker>
				   </div>

            	</div>

              <div layout="row" layout-align="start start">
            	<div>
				   	<md-button class="md-primary md-raised" ng-disabled="supplierForm.$invalid" ng-click="getAllotmentBySupplier()" >Export</md-button>


				</div>

				<div>
				   	<md-button class="md-primary md-raised"  ng-click="getAllotmentByStatus()">Export Product wise report</md-button>
                 </div>

				</div>
           </form>

       </div>
      </div>

			<div class="col-md-4">

			 <div class="md-whiteframe-2dp" layout-padding  >

 						 <h1>Expense Report</h1>
 						<form name="expenseForm">
							<div class="" layout="row">
							<md-input-container flex >
								<label>Select Expense Type</label>
							 <md-select name="type" ng-model="expenseData.type" required>
									<md-option ng-value="e" ng-repeat="e in expenseType">{{e}}</md-option>
							 </md-select>
								 </md-input-container>
								 </div>
 						 <div layout="row" layout-align="space-around start" >



								<div class="dpFix">
 						      <md-datepicker required ng-model="startAtExpense" ng-change="selecteddateStart()" md-placeholder="Start date"></md-datepicker>
 					      </div>

 						  <div class="dpFix">

 						 <md-datepicker required ng-model="endAtExpense" ng-change="selecteddateEnd()" md-placeholder="end date"></md-datepicker>
 					    </div>

 						 </div>

 					 <md-button class="md-primary md-raised" ng-disabled="expenseForm.$invalid" ng-click="getExpensesByType()" >Export</md-button>

 					</form>
       </div>

		</div>


		<div class="col-md-4">

		 <div class="md-whiteframe-2dp" layout-padding  >

					 <h1>Order Report</h1>
					<form name="orderReportForm">
						<div class="" layout="row">
						<md-input-container flex >
							<label>Select User</label>
						 <md-select name="type" ng-model="orderData.user" required>
								<md-option ng-value="e" ng-repeat="e in user">{{e}}</md-option>
						 </md-select>
							 </md-input-container>
							 </div>
					 <div layout="row" layout-align="space-around start" >



							<div class="dpFix">
								<md-datepicker required ng-model="startAtOrder" ng-change="selecteddateStart()" md-placeholder="Start date"></md-datepicker>
							</div>

						<div class="dpFix">

					 <md-datepicker required ng-model="endAtOrder" ng-change="selecteddateEnd()" md-placeholder="end date"></md-datepicker>
						</div>

					 </div>

				 <md-button class="md-primary md-raised" ng-disabled="orderReportForm.$invalid" ng-click="getOrderReport()" >Export</md-button>

				</form>
		 </div>

	</div>




		</div>
<br>

<div class="container-fluid">

 <div layout="row" layout-padding layout-align="space-between end">
    <h1>Workers</h1>
		<a ui-sref="adminViewOrder"><h4>View All</h4></a>
 </div>

		<div layout="row"  >
			<div class=" md-whiteframe-2dp" flex  layout-padding style="background:#FF9800">
         <h1>{{pending}}</h1>
				 <h3>Pending</h3>
			</div>

			<div class=" md-whiteframe-2dp" flex layout-padding style="background:#FFEB3B">
				<h1>{{processing}}</h1>
				<h3>Processing</h3>


			</div>
			<div class=" md-whiteframe-2dp" flex layout-padding style="background:#4CAF50">
         <h1>{{dispatched}}</h1>
				 <h3>Dispatched</h3>
			</div>

			<div class=" md-whiteframe-2dp" flex layout-padding style="background:#000000; color:#fff">
        <h1>{{returned}}</h1>
				<h3>Returned</h3>
				</div>

			<div class=" md-whiteframe-2dp" flex layout-padding style="background:##F44336">
        <h1>{{cancelled}}</h1>
				<h3>Cancelled</h3>
			</div>
		</div>
	</div>


    <br>



</div>


<style type="text/css">
	.dpFix {
margin-top: 10px;
}
.material-cust-large-button {
	 width: 300px;
	 height: 70px;
	 padding: 10px 10px 10px 10px;
	 font-size: 40px;

}



</style>
