<md-toolbar class="default md-whiteframe-1dp">
	<!-- <div class="md-toolbar-tools"> -->

		<div class="container">



	 <div layout="row" layout-align="space-between center">

		 <div>
				<img class="img-responsive" src="/img/paramount.png" alt="">
		 </div>

		 <div class="mainMenu">
		 <ul>
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li><a>Services</a></li>
      <li><a>Contact</a></li>
      <li><a>Login</a></li>
      <li><a>Sign Up</a></li>
			<li><a  ui-sref="teleDashboard">Dashboard</a></li>
			<li><a  ui-sref="createOrder">Order</a></li>
			<li><a  ng-click="logout()">Logout</a></li>



		 </ul>


		 </div>
	 </div>


		</div>

	<!-- </div> -->
</md-toolbar>
<div class="trans" ui-view>

</div>
