<div layout="column" style="height: 500px;" ng-cloak>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
    md-disable-backdrop md-whiteframe="4">
<center>
      <md-toolbar class="md-theme-teal">
        <img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px" style="margin-top:40px">
        <hr class= "extra-margins">
        <h4>{{user}}</h4>
        <h5>email</h5>
      </md-toolbar>
</center>
      <md-content layout-margin>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Hide Navigator
        </md-button>
      </md-content>
      <md-list flex>
                    <md-list-item  ui-sref="settings" ui-sref-active="active" class="md-1-line" ng-click="toggleLeft()" >
                     <p>Search</p>
                    </md-list-item>
                   <md-list-item  ui-sref="home" ui-sref-active="active" class="md-1-line" ng-click="null">
                      <p>Booking History</p>
                    </md-list-item>
                    <md-list-item  ui-sref="home" ui-sref-active="active" class="md-1-line" ng-click="null">
                       <p>Booking History</p>
                     </md-list-item>
                    <md-list-item class="md-1-line"  >
                      <p>Settings</p>
                    </md-list-item>
                 </md-list>
    </md-sidenav>
