<style>	.jumbotron {
      text-align: center;
  }
  .extra-margins {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
  }</style>
<div layout="column"  ng-cloak>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
    md-disable-backdrop md-whiteframe="4">
<center>
      <md-toolbar class="md-theme-teal">
        <img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px" style="margin-top:40px">
        <hr class= "extra-margins">
        <h4>{{user}}</h4>
        <h5>email</h5>
      </md-toolbar>
</center>
      <md-content layout-margin>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Hide Navigator
        </md-button>
      </md-content>
      <md-list flex>
                    <md-list-item  ui-sref="createOrderFinal" ui-sref-active="active" class="md-1-line" ng-click="toggleLeft()" >
                     <p>Search</p>
                    </md-list-item>
                   <md-list-item  ui-sref="booked" ui-sref-active="active" class="md-1-line" ng-click="null">
                      <p>Booking History</p>
                    </md-list-item>
                    <md-list-item ui-sref-active="active" class="md-1-line" ng-click="logout()">
                       <p>Logout</p>
                     </md-list-item>
                    <md-list-item class="md-1-line"  >
                      <p>Settings</p>
                    </md-list-item>
                 </md-list>
    </md-sidenav>

    <md-content flex layout-padding>
      <div class="container">
        <div layout="row" layout-align="center">
        <img src="/img/harwahalogo.png" alt="logo" width="auto" height="150px" style="margin-top:20px;margin-bottom:20px"></div>
        <div layout="column" >

          <div>
            <md-button ng-click="toggleLeft()" class="md-raised">Show/Hide Navigation</md-button>
          </div>
        </div>
        <md-card style="margin:0px">
          <h4 style="padding:15px"> Booking History</h4>
                    <md-input-container style="margin:15px;">
                        <label>Filter by search</label>
                        <input type="text" ng-model="filterName">
                    </md-input-container>

                    <div ng-hide="true">
                        {{(filteredItems = (order | filter: filterName))}}
                    </div>
                </md-card>
                <mdt-table table-card="{visible: true, title: 'Orders'}"
                            largeEditDialog.saveButtonLabel="hello"
                             selectable-rows="false"
                             alternate-headers="'contextual'"
                             paginated-rows="{isEnabled: true, rowsPerPageValues: [10,15,20,50]}"
                             selected-row-callback="selectedRowCallback(rows)"
                             delete-row-callback="deleteRowCallback(rows)"
                             update-row-callback="updateRowCallback(rows)"
                             mdt-row="{
                                      'data':filteredItems,
                                      'table-row-id-key': '_id',
                                      'column-keys': [
                                          'worktype',
                                          'numberofworkers',
                                          'totalPrice'
                                      ]
                                      }">
                    <mdt-header-row>
                      <!-- <mdt-column align-rule="left" editable-field="textInput"><span>Name</span></mdt-column> -->
                      <mdt-column align-rule="left"><span>WorkType</span></mdt-column>
                      <mdt-column align-rule="left"><span>Number Of Workers</span></mdt-column>
                      <mdt-column align-rule="left"><span>Amount</span></mdt-column>
                      <!-- <mdt-column align-rule="left"><span>Vehicle</span></mdt-column>
                      <mdt-column align-rule="left"><span>Outstation Work</span></mdt-column>
                      <mdt-column align-rule="left"><span>Work Type</span></mdt-column> -->
                    </mdt-header-row>
                  </mdt-table>

</div>


  </section>

</div>
