<style>	.jumbotron {
      text-align: center;
  }
  .extra-margins {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
  }</style>
<div layout="column"  ng-cloak>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
    md-disable-backdrop md-whiteframe="4">
  <center>
      <md-toolbar class="md-primary">
        <img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px" style="margin-top:40px">
        <hr class= "extra-margins">
        <h4>{{user}}</h4>
        <h5>email</h5>
      </md-toolbar>
  </center>
      <md-content layout-margin>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Hide Navigator
        </md-button>
      </md-content>
      <md-list flex>
        <md-list-item  ui-sref="adminViewWorker" ui-sref-active="active" class="md-1-line">
           <p>Worker List</p>
         </md-list-item>
        <md-list-item  ui-sref="bookings" ui-sref-active="active" class="md-1-line">
           <p>Bookings</p>
         </md-list-item>
                    <md-list-item ui-sref-active="active" ui-sref="addWorker" class="md-1-line">
                     <p>Add Worker</p>
                    </md-list-item>
                    <md-list-item ui-sref-active="active" ui-sref="createLogin" class="md-1-line">
                     <p>Create Login</p>
                    </md-list-item>
                    <md-list-item ui-sref-active="active" class="md-1-line" ng-click="logout()" >
                     <p>Logout</p>
                    </md-list-item>
                    <md-list-item class="md-1-line"  >
                      <p>Settings</p>
                    </md-list-item>
                 </md-list>
    </md-sidenav>

  </section>
  <div class="container">

      <!--First row-->
      <div class="row wow fadeIn" data-wow-delay="0.2s">
          <div class="col-md-12">
            <div>
              <md-button ng-click="toggleLeft()" class="md-raised">Show/Hide Navigation</md-button>
            </div>
              <div class="jumbotron">

                  <h4 class="h4-responsive">Create Logins</h4>
                  <br>
                  <hr>
                    <form name="createUserForm">
                      <div layout="row">
                    <md-input-container class="md-icon-float md-block " flex>
                       <label style="text-align:left">Name</label>
                       <input ng-model="createUser.name" type="text" required>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" style="margin-left:10px" flex>
                       <label style="text-align:left">Company Name</label>
                       <input ng-model="createUser.companyname" type="text" required>
                    </md-input-container></div>
                    <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex >
                      <label style="text-align:left">Phone</label>
                      <input ng-model="createUser.phone" name="phone" type="number" minlength="10" required>
                      <span class="error" ng-show="createUserForm.phone.$touched&&createUserForm.phone.$invalid">
                         Not a valid number!</span>
                      </md-input-container>
                    <md-input-container class="md-icon-float md-block" style="margin-left:10px"flex>
                       <label style="text-align:left">E-Mail</label>
                       <input ng-model="createUser.email" type="email" required>
                    </md-input-container></div>
                    <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex>
                       <label style="text-align:left">Place/Location</label>
                       <input ng-model="createUser.location" type="text" required>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block" style="margin-left:10px"flex>
                      <label style="text-align:left">State</label>
                      <md-select ng-model="createUser.state">
                        <md-option ng-repeat="state in states" value="{{state}}">
                          {{state}}
                        </md-option>
                      </md-select>
                    </md-input-container></div>
                    <div layout="row">
                      <md-input-container class="md-icon-float md-block" flex>
                         <label style="text-align:left">Password</label>
                         <input ng-model="createUser.password" type="password" required>
                      </md-input-container>
                      <md-input-container class=" md-icon-float md-block" flex >
                        <label>Role</label>
                        <md-select ng-model="createUser.role" placeholder="Role"  required>
                          <md-option value="contractor">Contractor</md-option>
                          <md-option value="bookingManager">Booking Manager</md-option>
                        </md-select>
                        </md-input-container>
                    </div>
                      </form>
                  <div class="modal-footer d-flex justify-content-center">
                      <button class="btn btn-deep-orange" ng-click="submit()" ng-disabled="createUserForm.$invalid">Submit</button>
                  </div>

                </div>
              </div>
          </div>
        </div>
