<!-- Template styles -->
<style rel="stylesheet">
		/* TEMPLATE STYLES */

		main {
				padding-top: 3rem;
				padding-bottom: 2rem;
		}

		.extra-margins {
				margin-top: 1rem;
				margin-bottom: 2.5rem;
		}

		.jumbotron {
				text-align: center;
		}

		.navbar {
				background-color: #3b295a;
		}

		footer.page-footer {
				background-color: #3b295a;
				margin-top: 2rem;
		}
		.navbar .btn-group .dropdown-menu a:hover {
				color: #000 !important;
		}
		.navbar .btn-group .dropdown-menu a:active {
				color: #fff !important;
		}
		#navbarSupportedContent{
			margin-left: 500px;
			padding: 10px;
		}
</style>
<script>$(document).ready(function() {
    $('.mdb-select').material_select();
  });</script>
<header>

        <!--Navbar-->
        <!-- <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" row collapse navbar-collapse align-items-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
	                            <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
                        </li>
												<li class="nav-item">
	                            <a class="nav-link" ui-sref="signup">Sign Up</a>
                        </li>
												<li class="nav-item">
	                            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <!--/.Navbar-->
	<div class="container">
		<div layout="row" layout-align="space-between center" style="padding-top:20px">
			<div class="">
				<a class="navbar-brand" href="#"><img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px"></a>
			</div>
			<div class="">
				<a class="btn btn-primary btn-rounded mb-4" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
				<a class="btn btn-primary btn-rounded mb-4" ui-sref="signup">Sign Up </a>
			</div>
		</div>
	</div>
</header>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
			<div class="modal-content">
					<div class="modal-header">
							<centre><h5 class="modal-title" id="exampleModalLabel">Contact Us</h5></centre>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">
						Reach us at:<p>
							<i class="fa fa-address-book-o" aria-hidden="true"></i>  &nbsp;   2nd floor, OP complex,
							Above SBI ATM, Near P& M mall, Kurji ,&nbsp;&nbsp; Patna-10</p>
							<i class="fa fa-mobile-phone" aria-hidden="true"></i> &nbsp;+91 8540999738
					</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
			</div>
		</div>
</div>

<main>
	<div class="container">
		<div class="row wow fadeIn" data-wow-delay="0.2s">
			<div class="col-md-12">
				<div class="jumbotron">
					<h2 class="h2-responsive">India's Largest Booking Platform for Daily Workers</h2>
          <br>
					<p>HARWAHA is an Online Platform for people who work on daily wages and clients who are
														looking for such people for their different works that require workforce on temporary basis.
					</p>
	                        <hr>
	                        <p>Search from thousands of eligible Daily Wage Workers</p>
													<!-- <h3 class="animated pulse infinite" style="color:#CC0000">Bookings Start from 10th January 2018</h3> -->
													<form>
															<div layout="row">
																	<md-input-container flex>
																	<label>Type of Worker</label>
																	<md-select ng-model="workarea">
																	<md-option value="leaflet_distribution">Leaflet Distribution</md-option>
																	<md-option value="labour">Construction Labour</md-option>
																	<md-option value="rajmistry">Raj Mistry</md-option>
																	<md-option value="catering">Catering Girls</md-option>
																	<md-option value="welcome">Welcome Girls</md-option>
																	<md-option value="catering_boys">Catering Boys</md-option>
																	<md-option value="masalchi">Masalchi/Kitchen Helpers</md-option>
																	<md-option value="bouncer">Bouncers</md-option>
																	<md-option value="maid">Maid/Sweeper</md-option>
																	<md-option value="promoters">Event Promoters</md-option>
																	<md-option value="others">Others</md-option>
																	</md-select>
																</md-input-container >
																<md-input-container style="margin-left:10px" flex>
																		<label>No. of Workers</label>
																		<input required ng-model="worker_no">
																</md-input-container>

           <md-input-container style="margin-left:10px" flex>
            <label>State</label>
            <md-select ng-model="area" ng-change="setlocality()">
            <md-option ng-repeat="state in states" value="{{state}}">
                {{state}}
            </md-option>
            </md-select>
					</md-input-container>
			</div>
					<div class="row justify-content-center">
						<div class="col-9">
							<div class="row">
							<div class="col-6 ">
					<md-input-container style="margin-left:10px" class="md-block" flex>
            <label>District</label>
            <md-select ng-model="locality">
              <md-option ng-repeat="localities in locality" value="{{localities}}">
                {{localities}}
              </md-option>
							<!-- <md-option value="Patna">Patna</md-option> -->
            </md-select>
          </md-input-container>
				</div>
				<div class="col-6">
							<md-input-container  >
							<md-datepicker ng-model="date" md-placeholder="Enter date"></md-datepicker>
							</md-input-container>
							</div>
					</div>
				</div>
				</div>
		</form>


												<div class="md-form form-group">
													<a href="" class="btn btn-primary btn-rounded mb-4" ng-click="workerFind()">Search</a>
												</div>
												<!-- <iframe width="600" height="400" src="https://prezi.com/view/IPvz6dHIgSwUZIEXq9iC/embed" webkitallowfullscreen="1" mozallowfullscreen="1" allowfullscreen="1"></iframe> -->

												<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
		<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-bold">Sign in</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
		</div>
		<div class="modal-body mx-3">
				<md-input-container class="md-icon-float md-block">
					 <label style="text-align:left">E-Mail</label>
					 <input ng-model="user.email" type="email">
				</md-input-container>

				<md-input-container class="md-icon-float md-block">
					 <label style="text-align:left">Password</label>
					 <input ng-model="user.password" type="password">
				</md-input-container>
		</div>
		<div class="modal-footer d-flex justify-content-center">
				<button class="btn btn-default" data-dismiss="modal" ng-click="loginUser()">Login</button>
		</div>
</div>
</div>
</div>

	                    </div>
	                </div>
	            </div>
	            <!--/.First row-->

	            <hr class="extra-margins">
							<h2 style="text-align:center">Our Services</h2><br>

							<div class="row">
							<div class="col-lg-4">
							<!--Card-->
							<div class="card wow fadeIn" data-wow-delay="0.2s">
									<!--Card image-->
									<img class="img-fluid" src="/img/eventboys.jpg" alt="Card image cap">
									<!--Card content-->
									<div class="card-body">
											<!--Title-->
											<h4 class="card-title">Event Boys/Girls</h4>
											<!--Text-->
											<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
									</div>
							</div>
						</div>
						<div class="col-lg-4">
						<!--Card-->
						<div class="card wow fadeIn" data-wow-delay="0.2s">
								<!--Card image-->
								<img class="img-fluid" src="/img/painter.jpg" alt="Card image cap">
								<!--Card content-->
								<div class="card-body">
										<!--Title-->
										<h4 class="card-title">Painters</h4>
										<!--Text-->
										<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

								</div>
						</div>
					</div>
					<div class="col-lg-4">
					<!--Card-->
					<div class="card wow fadeIn" data-wow-delay="0.2s">
							<!--Card image-->
							<img class="img-fluid" src="/img/workers.jpg" alt="Card image cap">
							<!--Card content-->
							<div class="card-body">
									<!--Title-->
									<h4 class="card-title">Workers</h4>
									<!--Text-->
									<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
							</div>
					</div>
				</div>
			</div>
			<hr>
			<br>
			<h2 style="text-align:center">Our Clients</h2><br>
			<div class="container">
			<div class="row">
			<div class="col"><img width="300px" height="127px"src="/img/ola.png"></div>
			<div class="col"><img width="auto" height="127px " style="margin-left:10px"src="/img/db.png"></div>
     <div class ="col"><img width="auto" height="127px " src="/img/cu.png" style="margin-left:10px"></div>
		</div>
	</div>
</div>
</main>
<script>
			new WOW().init();
	</script>


        <!--Footer links-->
        <div class="container-fluid">

                <!--/.Third column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Fourth column-->
            </div>

        <!--/.Footer links-->

<footer class="page-footer center-on-small-only">
	<div class="container">
		<div class="row">
			<div class="col-3"  style="padding-bottom:20px;">
				<a href="">About Us</a>
			</div>
			<div class="col-3">
					<a href="">Terms and Conditions</a>
			</div>
			<div class="col-3">
					<a href="">Careers</a>
				</div>
			<div class="col-3">
					<a href="">Blog</a>
			</div>
			</div>
	</div>
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="http://www.harwaha.com"> harwaha.com </a>
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
