<style>	.jumbotron {
      text-align: center;
  }
  .extra-margins {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
  }</style>
<div layout="column"  ng-cloak>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
    md-disable-backdrop md-whiteframe="4">
<center>
      <md-toolbar class="md-theme-teal">
        <img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px" style="margin-top:40px">
        <hr class= "extra-margins">
        <h4>{{user}}</h4>
      </md-toolbar>
</center>
      <md-content layout-margin>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Hide Navigator
        </md-button>
      </md-content>
      <md-list flex>
                    <md-list-item ui-sref-active="active" class="md-1-line" ng-click="toggleLeft()" >
                     <p>Search</p>
                    </md-list-item>
                   <md-list-item  ui-sref="booked" ui-sref-active="active" class="md-1-line" ng-click="null">
                      <p>Booking History</p>
                    </md-list-item>
                    <md-list-item  ui-sref-active="active" class="md-1-line" ng-click="logout()">
                       <p>Logout</p>
                     </md-list-item>
                    <md-list-item class="md-1-line">
                      <p>Settings</p>
                    </md-list-item>
                 </md-list>
    </md-sidenav>

    <md-content flex layout-padding>

      <div layout="column" layout-align="top center">
        <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-md-12">
                    <div class="jumbotron">
                      <img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px" style="margin-bottom:20px">
                      <h2 class="h2-responsive">Search from thousands of eligible Daily Wage Workers</h2>
                      <hr class= "extra-margins">
                      <form>
                          <div layout="row">
                              <md-input-container flex>
                              <label>Type of Worker</label>
                              <md-select ng-model="workarea">
                              <md-option value="leaflet_distribution">Leaflet Distribution</md-option>
                              <md-option value="labour">Construction Labour</md-option>
                              <md-option value="rajmistry">Raj Mistry</md-option>
                              <md-option value="catering">Catering Girls</md-option>
                              <md-option value="welcome">Welcome Girls</md-option>
                              <md-option value="catering_boys">Catering Boys</md-option>
                              <md-option value="masalchi">Masalchi/Kitchen Helpers</md-option>
                              <md-option value="bouncer">Bouncers</md-option>
                              <md-option value="maid">Maid/Sweeper</md-option>
                              <md-option value="promoters">Event Promoters</md-option>
                              <md-option value="others">Others</md-option>
                              </md-select>
                            </md-input-container >
                              <md-input-container style="margin-left:10px" flex>
                                <label>No. of Workers</label>
                                  <input required ng-model="worker_no">
                                </md-input-container>

                                <md-input-container style="margin-left:10px" flex>
                                  <label>State</label>
                                  <md-select ng-model="area"ng-change="setlocality()">
                                    <md-option ng-repeat="state in states" value="{{state}}">
                                      {{state}}
                                    </md-option>
                                  </md-select>
                                  </md-input-container>
      </div>
      <div class="row justify-content-center">
        <div class="col-9">
          <div class="row">
          <div class="col-6 ">
            <md-input-container style="margin-left:10px" class="md-block" flex>
              <label>District</label>
              <md-select ng-model="locality">
                <md-option ng-repeat="localities in locality" value="{{localities}}">
                  {{localities}}
                </md-option>
                <!-- <md-option value="Patna">Patna</md-option> -->
              </md-select>
            </md-input-container>
    </div>
    <div class="col-6">
          <md-input-container  >
          <md-datepicker ng-model="deliveryDate1" md-placeholder="Enter date"></md-datepicker>
          </md-input-container>
          </div>
      </div>
    </div>
    </div>
</form>

                    <div class="md-form form-group">
                      <a href="" class="btn btn-primary btn-rounded mb-4" ng-click="workerFind()">Search</a>
                    </div>

                    </div>
                </div>
            </div>

        <div>
          <md-button ng-click="toggleLeft()" class="md-raised">Show Navigation</md-button>
        </div>

      </div>

    </md-content>

  </section>

</div>
