<div class="container">

<div class="">

</div>



	  <div  class="md-whiteframe-2dp addProduct" layout-padding>
	   <h4>Add New Product lot</h4>
	   <form name="addProductForm" layout="row" layout-padding layout-align="space-around center" >

				<div class="md-block" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm >
   				 <label>Select Expense Type</label>
   				<md-select name="vendor" ng-model="expense.type" required>
   					 <md-option ng-value="e" ng-repeat="e in expenseType">{{e}}</md-option>
   				</md-select>
   				 </md-input-container>
      </div>

      <md-input-container class="md-block" flex-gt-sm >
        <label>Paid For</label>
        <input ng-model="expense.paidFor"  required>
        </md-input-container>

					<md-input-container class="md-block" flex-gt-sm >
		        <label>Rate</label>
		        <input ng-model="expense.rate" type="number" required>
		        </md-input-container>




	    <div>
	    	<md-button class="md-primary md-raised" ng-click="createExpense()" ng-disabled="addProductForm.$invalid"> +ADD</md-button>
	    </div>
		</form>

	  </div>


	  <div  class="md-whiteframe-2dp addProduct" ng-show="updateProductStatus" layout-padding style="margin-bottom:5px;" >
	    <h4>Update Product</h4>
	   <form name="updateProductForm" layout="row" layout-padding layout-align="space-around center" >

	      <md-input-container class="md-block" flex-gt-sm>
	        <label>Name</label>
	        <input ng-model="productUpdate.name" required>
	        </md-input-container>

	        <md-input-container class="md-block" flex-gt-sm >
	          <label>Rate</label>
	          <input ng-model="productUpdate.rate" required>
	          </md-input-container>



	    <div>
	      <md-button class="md-primary md-raised" ng-click="updateProduct()" ng-disabled="updateProductForm.$invalid">UPDATE</md-button>
	    </div>
	  </form>

	  </div>




		<md-card style="margin:0px">
		            <md-input-container style="margin:15px;">
		                <label>Filter by search</label>
		                <input type="text" ng-model="filterName">
		            </md-input-container>

		            <div ng-hide="true">
		                {{(filteredItems = (expenseArray | filter: filterName))}}
		            </div>
		        </md-card>

		<mdt-table table-card="{visible: true, title: 'Products'}"
								largeEditDialog.saveButtonLabel="hello"
								 virtual-repeat="true"
								 selectable-rows="true"
		             alternate-headers="'contextual'"
	               selected-row-callback="selectedRowCallback(rows)"
	               delete-row-callback="deleteRowCallback(rows)"
	               update-row-callback="updateRowCallback(rows)"
		             mdt-row="{
	 												'data':filteredItems,
		                      'table-row-id-key': '_id',
		                      'column-keys': [

		                          'type',
		                          'paidFor',
                              'createdAt',
                              'rate'


		                      ]
		                      }">
		    <mdt-header-row>

		      <mdt-column align-rule="left" editable-field="textInput"><span>Type</span></mdt-column>
          <mdt-column align-rule="left"><span>Paid For</span></mdt-column>
          <mdt-column align-rule="left"><span>Created</span></mdt-column>
		      <mdt-column align-rule="left"><span>Rate</span></mdt-column>

		    </mdt-header-row>


		  </mdt-table>

	</div>

	<style>

	  /* this is important! Set the height to your need */
	  .md-virtual-repeat-container{
	    height: 330px;
	  }
	</style>
