<!-- Modal -->
<!-- <div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog"> -->

<!-- Modal content-->
<!--
<div id ="modal"class="modal-content "style="margin-top:98px">
<div class="modal-header" style="padding:3px 50px;">
  <button type="button" class="close" data-toggle="modal" data-dismiss="modal">&times;</button>
  <h4 id="heading4"><span class="glyphicon glyphicon-lock"></span> Login</h4>
</div>
<div class="modal-body" style="padding:40px 50px;">
  <form role="form" name="form.userForm" ng-submit="loginUser()">
    <div class="form-group" ng-hide="succ">
      <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
      <input type="text" class="form-control" id="usrname" ng-model="user.user"placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="psw"><span class="glyphicon glyphicon-eye-open"></span><b> Password</b></label>
      <input type="password" class="form-control" id="psw" ng-model="user.password" placeholder="Enter password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" checked>Remember me</label>
    </div>
      <button type="submit" class="btn btn-success btn-block" ng-click="loginUser()"><span class="glyphicon glyphicon-off"></span> Login</button>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal" ng-click="cancel"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
  <p>Not a member? <a href="#">Sign Up</a></p>
  <p>Forgot <a href="#">Password?</a></p>
</div>
</div> -->
<!-- </div>
</div> -->
<div class="modal-header" style="margin-top:98px">
  <h2><span class="glyphicon glyphicon-lock"></span> Login</h2>
</div>
<div class="modal-content">
<form name="form.userForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="user.user" required>
            <p ng-show="form.userForm.name.$invalid && !form.userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>

        <!-- USERNAME -->
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="username" class="form-control" ng-model="user.password" ng-minlength="3" ng-maxlength="8" required>
            <p ng-show="form.userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="form.userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="loginUser()" ng-disabled="form.userForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
</div>
