<style rel="stylesheet">
		/* TEMPLATE STYLES */

		main {
				padding-top: 3rem;
				padding-bottom: 2rem;
		}

		.extra-margins {
				margin-top: 1rem;
				margin-bottom: 2.5rem;
		}

		.jumbotron {
				text-align: center;
		}

		.navbar {
				background-color: #3b295a;
		}

		footer.page-footer {
				background-color: #3b295a;
				margin-top: 2rem;
		}
		.navbar .btn-group .dropdown-menu a:hover {
				color: #000 !important;
		}
		.navbar .btn-group .dropdown-menu a:active {
				color: #fff !important;
		}
		#navbarSupportedContent{
			margin-left: 500px;
			padding: 10px;
		}
</style>
<script>$(document).ready(function() {
    $('.mdb-select').material_select();
  });</script>
<header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" row collapse navbar-collapse align-items-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
	                            <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
                        </li>
												<li class="nav-item">
	                            <a class="nav-link" ui-sref="signup">Sign Up</a>
                        </li>
												<li class="nav-item">
	                            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Contact Us</a>
															<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <centre><h5 class="modal-title" id="exampleModalLabel">Contact Us</h5></centre>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Reach us at:<p>
<i class="fa fa-address-book-o" aria-hidden="true"></i>  &nbsp;   2nd floor, OP complex,
Above SBI ATM, Near P& M mall, Kurji ,&nbsp;&nbsp; Patna-10</p>


<i class="fa fa-mobile-phone" aria-hidden="true"></i> &nbsp;+91 8540999738
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->
    </header>

    <main>

          <!--Main layout-->
          <div class="container">
              <!--First row-->
              <div class="row wow fadeIn" data-wow-delay="0.2s">
                  <div class="col-md-12">
                      <div class="jumbotron">
                          <h2 class="h2-responsive">India's Largest Booking Platform for Daily Workers</h2>
                          <br>
                          <p>HARWAHA is an Online Platform for people who work on daily wages and clients who are looking for such people for their different works that require workforce on temporary basis.</p>
                          <hr>
                          <p>Search from thousands of eligible Daily Wage Workers</p>
                          <!-- <h3 class="animated pulse infinite" style="color:#CC0000">Bookings Start from 10th January 2018</h3> -->
                            <form name="createUserForm">
                              <div layout="row">
                            <md-input-container class="md-icon-float md-block " flex>
                               <label style="text-align:left">Name</label>
                               <input ng-model="createUser.name" type="text" required>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block" style="margin-left:10px" flex>
                               <label style="text-align:left">Company Name</label>
                               <input ng-model="createUser.companyname" type="text" required>
                            </md-input-container></div>
                            <div layout="row">
                            <md-input-container class="md-icon-float md-block" flex >
                              <label style="text-align:left">Phone</label>
                              <input ng-model="createUser.phone" name="phone" type="number" minlength="10" required>
                              <span class="error" ng-show="createUserForm.phone.$touched&&createUserForm.phone.$invalid">
                                 Not a valid number!</span>
                              </md-input-container>
                            <md-input-container class="md-icon-float md-block" style="margin-left:10px"flex>
                               <label style="text-align:left">E-Mail</label>
                               <input ng-model="createUser.email" type="email" required>
                            </md-input-container></div>
                            <div layout="row">
                            <md-input-container class="md-icon-float md-block" flex>
                               <label style="text-align:left">Place/Location</label>
                               <input ng-model="createUser.location" type="text" required>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block" style="margin-left:10px"flex>
                              <label style="text-align:left">State</label>
                              <md-select ng-model="createUser.state">
                                <md-option ng-repeat="state in states" value="{{state}}">
                                  {{state}}
                                </md-option>
                              </md-select>
                            </md-input-container></div>
                              <md-input-container class="md-icon-float md-block">
                                 <label style="text-align:left">Password</label>
                                 <input ng-model="createUser.password" type="password" required>
                              </md-input-container>
                              </form>
                              <div ng-show="showOTP">
                                <md-input-container class="md-icon-float md-block">
                                   <label style="text-align:left">Enter OTP</label>
                                   <input ng-model="otp.password" type="text" required>
                                </md-input-container></div>
                                <div class="modal-footer d-flex justify-content-center"ng-show="showOTP">
                                  <button class="btn btn-deep-orange" ng-click="verify()">Submit</button>
                                </div>
                          <div class="modal-footer d-flex justify-content-center" ng-show="submit">
                              <button class="btn btn-deep-orange" ng-click="show()" ng-disabled="createUserForm.$invalid">Submit</button>
                          </div>

                        </div>
                      </div>
                  </div>
                </div>
            </main>
