<!-- Template styles -->
<style rel="stylesheet">
		/* TEMPLATE STYLES */

		main {
				padding-top: 3rem;
				padding-bottom: 2rem;
		}

		.extra-margins {
				margin-top: 1rem;
				margin-bottom: 2.5rem;
		}

		.jumbotron {
				text-align: center;
		}

		.navbar {
				background-color: #3b295a;
		}

		footer.page-footer {
				background-color: #3b295a;
				margin-top: 2rem;
		}
		.navbar .btn-group .dropdown-menu a:hover {
				color: #000 !important;
		}
		.navbar .btn-group .dropdown-menu a:active {
				color: #fff !important;
		}
		#navbarSupportedContent{
			margin-left: 500px;
			padding: 10px;
		}
</style>
<script>$(document).ready(function() {
    $('.mdb-select').material_select();
  });</script>
<header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" row collapse navbar-collapse align-items-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
	                            <a class="nav-link" ng-click="godashboard()">Dashboard</a>
                        </li>
												<li class="nav-item">
	                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->

    </header>
    <main>
      <div class="container">
<div class="jumbotron" style="overflow-x:auto;" >
	<h3>We have {{ count }} workers available</h3>
 <h3>Your payable amount : Rs {{ order.totalPrice }} @ Rs {{order.totalPrice/count}} per worker</h3>
 <hr class="extra-margins">
 <div class="md-form form-group">
   <a href="" class="btn btn-primary btn-rounded mb-4" ng-click="placeOrder()">Confirm And Pay Now</a>
	 <a href="" class="btn btn-primary btn-rounded mb-4" ng-click="godashboard()">Return to Dashboard</a>
 </div>
</div>
</div>
</main><script>
			new WOW().init();
	</script>
	<footer class="page-footer center-on-small-only">

        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-3 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>About Harwaha</strong></h5>
                     <p>HARWAHA.com is a social effort to fulfil the promises of government’s minimum 100 days work security with private sector collaboration. It is a platform which generates unskilled/skilled work demands and makes it available to User/Help/Unskilled/skilled person as per the work feasibility.</p>

                </div>
                <!--/.First column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Second column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Archives</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">About Us</a>
                        </li>
                        <li>
                            <a href="#!">Support</a>
                        </li>
                        <li>
                            <a href="#!">Privacy Policy</a>
                        </li>
												<li>
                            <a href="#!">Terms And Conditions</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Third column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong></strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Careers</a>
                        </li>
                        <li>
                            <a href="#!">Official Blog</a>
                        </li>
                        <li>
                            <a href="#!">Client Policy</a>
                        </li>
												<li>
                            <a href="#!">Press Kit</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->

        <hr>

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="https://www.harwaha.com"> harwaha.com </a>
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
