<div class="container">
	<h1>Dashboard</h1>
	<h1 class="md-title">Pick a Route below</h1>
	<h3 class="md-subhead">
	 <div layout="row">
		 <div flex>
		 <md-input-container class="block" flex-gt-sm>
			 <label>Route</label>
			 <md-select ng-model="route" md-selected-text="getSelectedText()" required>
				 <md-optgroup label="Routes">
					 <md-option ng-value="item" ng-repeat="item in items" >{{item}}</md-option>
				 </md-optgroup>
			 </md-select>
		 </md-input-container>
	 </div>
	 <div flex><md-button class="md-raised md-primary" ng-click="next()">Go</md-button></div>
	 </div>
	 <div ng-show="IsVisible">
		 <h1 class="md-title">Pick a Customer</h1>
		 <div layout="row">
		 <div flex>
		 <md-input-container class="md-block" flex-gt-sm>
		 	<label>Customer</label>
		 	<md-select ng-model="customer" md-selected-text="selectedCus()" required>
		 		<md-optgroup label="Customer">
		 			<md-option ng-value="item" ng-repeat="item in customers" >{{item}}</md-option>
		 		</md-optgroup>
		 	</md-select>
		</md-input-container></div>
	  <div flex><md-button class="md-raised md-primary" ng-click="next1()">Go</md-button></div>
	  </div>
    </div>
 <br><br>
 <div ng-show=IsVisible1>
	 <form class="form-inline">
      <div class ="form-group">
        <span ><label for="item">Product:</label></span>
            <span style="padding-left:15px"><input type="text" class="form-control" ng-model="name"/></span>
            <span style="padding-left:8px"><label for="quantity"> Quantity:</label></span>
            <span style="padding-left:15px"><input type="text" ng-model="qty" class="form-control"/></span>
            <span style="padding-left:8px"><label for="rate">Rate:</label></span>
            <span style="padding-left:15px"><input type="text" ng-model="rate" class="form-control"/></span>
            <span style="padding-left:20px">
            <md-button class="md-raised md-primary" ng-click="addRow(name,qty,rate)">Add</md-button>
        </span>
      </div>
    </form>
		<br>
	  <table class="table table-condensed">
	  <tr>
		<th>Product</th><th>Quantity</th><th>Rate</th><th>Amount</th><th>Remove</th>
		</tr>
		<tr ng-repeat="order in orders">
		<td>{{order.name}}</td><td>{{order.qty}}</td><td>{{order.rate}}</td><td>{{order.amt}}</td>
	  <td><md-button class="md-raised md-primary" ng-click="removeRow(order.name)">Remove</md-button></td>
		</tr>
	  </table>
	<table class="table table-condensed"><tr><th></th><th></th><th></th><th></th><th></th><th></th><th>Total:{{sum}}</th><th></th></tr></table>
<br>
 <md-input-container>
        <label>Tax Rate</label>
        <input ng-model="tax" type="text">
      </md-input-container>
  <md-button class="md-raised md-primary" ng-click="getTotal(tax)">Get Total Amount</md-button>Total Amount:{{total}}
<br>
	<md-button class="md-raised md-primary" align="right" ng-click="placeOrder()">Place Order</md-button>
	</div>
</h3>
</div>
