<style >
  .topMar{
    margin-top:15px ;
  }

  .bottomOne{
    margin-bottom:5px !important;
  }

  .example-container {
   height: 670px;
   padding: 10px 10px 10px 10px ;
}


</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <md-toolbar class="md-warn">
     <div class="md-toolbar-tools">
       <h2 class="md-flex">Pending Orders</h2>
     </div>
   </md-toolbar>


    <md-content class="example-container" >

      <div class="md-whiteframe-1dp" ng-repeat="order in orderArray|filter:{status:'processing'}" layout-padding>

         <table class="table table-condensed  bottomOne table-bordered">
          <tr>
           <th>OrderId</th>
           <th>Company</th>
           <th>Total</th>
           <th>Status</th>
           <th>Payment Type</th>
           <th>Date Added</th>
           <th>Route</th>

         </tr>
         <tr>
           <td>#{{order.orderId}}</td>
           <td>{{order.companyName}}</td>
           <td>{{order.totalPrice| currency:"₹"}}</td>
           <td>{{order.status}}</td>
           <td>{{order.paymentType}}</td>
           <td>{{order.createdAt}}</td>
           <td>{{order.route}}</td>
         </tr>

         </table>

            <table class="table table-condensed bottomOne table-bordered" >
             <tr>
                <th>Product Name</th>
                <td ng-repeat="p in order.product">{{p.name}}</td>
             </tr>
             <tr>
               <th>Quantity</th>
              <td ng-repeat="p in order.product">{{p.quantity}}</td>
             </tr>
            </table>
            <form name="assignForm">


          <div class="" layout="row" layout-align="space-between center">
            <md-input-container flex>
              <label>Assign For Delivery</label>
              <md-select name="assignment" required ng-model="er" >
                <md-option value="{{a}}" ng-repeat="a in assignArray " >{{a}}</md-option>
              </md-select>
            </md-input-container>
            <md-button class="md-primary md-raised" ng-disabled="assignForm.$invalid" ng-click="assignUpdate(order._id,assignForm)">Assign</md-button>
        </div>

         </form>

      </div>
      </md-content>


    </div>




    <div class="col-md-6">
      <md-toolbar class="md-warn">
     <div class="md-toolbar-tools">
       <h2 class="md-flex">Dispatched Orders</h2>
     </div>
   </md-toolbar>

    <md-content class="example-container" >
      <div class="md-whiteframe-1dp" ng-repeat="order in orderArray|filter:{status:'dispatched'}" layout-padding>

         <table class="table table-condensed  bottomOne table-bordered">
          <tr>
           <th>OrderId</th>
           <th>Company</th>
           <th>Total</th>
           <th>Status</th>
           <th>Payment Type</th>
           <th>Date Added</th>
           <th>Route</th>

         </tr>
         <tr>
           <td>#{{order.orderId}}</td>
           <td>{{order.companyName}}</td>
           <td>{{order.totalPrice| currency:"₹"}}</td>
           <td>{{order.status}}</td>
           <td>{{order.paymentType}}</td>
           <td>{{order.createdAt}}</td>
           <td>{{order.route}}</td>
         </tr>

         </table>

            <table class="table table-condensed bottomOne table-bordered" >
             <tr>
                <th>Product Name</th>
                <td ng-repeat="p in order.product">{{p.name}}</td>
             </tr>
             <tr>
               <th>Quantity</th>
              <td ng-repeat="p in order.product">{{p.quantity}}</td>
             </tr>
            </table>

            <table class="table table-condensed bottomOne table-bordered">
              <tr>
                <th>Assigned To</th>
                <td>{{order.assignedTo}}</td>
              </tr>
            </table>
            <form name="assignForm">


          <!-- <div class="" layout="row" layout-align="space-between center">
            <md-input-container flex>
              <label>Assign For Delivery</label>
              <md-select name="payment" required ng-model="updateArray.paymentType" >
                <md-option value="a" ng-repeat="a in assignArray" >{{a}}</md-option>
              </md-select>
            </md-input-container> -->
            <!-- <md-button class="md-primary md-raised" ng-disabled="assignForm.$invalid">Assign</md-button> -->
        </div>

         </form>

      </div>

    </md-content>
    </div>



  </div>

</div>
