<script>
$(document).ready(function(){
$(window).scroll(function() {
 $(".slideanim").each(function(){
   var pos = $(this).offset().top;

   var winTop = $(window).scrollTop();
     if (pos < winTop + 600) {
       $(this).addClass("slide");
     }
 });
});
})
</script>
<div data-offset="60" id="myPage" data-spy="scroll" data-target=".navbar" >
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      	<img src="/img/harwahalogo.png" alt="logo" width="130px" height="102px"></a>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

        <li><a ng-click="scrollTo('about')">HOME</a></li>

        <li><a ng-click="scrollTo('about')">ABOUT</a></li>
        <li class="dropdown">
        	<a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Painter</a></li>
            <li><a href="#">Event boys/girls</a></li>
            <li><a href="#">Daily workers</a></li>
          </ul>
        </li>
        <li><a ng-click="scrollTo('contact')">CONTACT</a></li>
        <li><a modal-form data="user" template-url="/views/loginHome.html" method="POST" path="/authenticate" redirect="/" close-on-success="true">LOGIN</a></li>

        <li><a href="signup.html">SIGNUP</a></li>
      </ul>
    </div>
  </div>
</nav>

        <li><a href="signup.html">SIGNUP</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid class text-center" id="cont3" style="overflow-x:auto;" >
	<h3>Enter Contact details and and Executive will be in touch with you.</h3>
 <h3>You are requested to pay cash once the workers reach</h3>
 
 <button type="button" id="paybtn">Confirm and Pay</button>
</div>

<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <h2 class="text-center">About</h2><br>
      <h4 class="text-center">HARWAHA is an Online Platform for the persons who work on daily
       wages and clients who are looking for such persons for their different works that require
        workforce on temporary basis.  </h4><br>
      <br><button class="btn btn-default btn-lg" id="btn3">Get in Touch</button>
    </div>
    </div>
</div>

<!-- Container (Services Section) -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>

  </ol>
   <!-- Wrapper for slides -->
   <div class="carousel-inner">

  <div class="row slideanim">
    <div class="col-sm-4"  class="item active">

      <h4>Painter</h4>
          </div>
    <div class="col-sm-4"  class="item active">

      <h4>Event Boys/Girls</h4>
    </div>
    <div class="col-sm-4" class="item active">

      <h4>Dailyworkers</h4>
      </div>
    </div>


</div>
<!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> patna, bihar<br>2nd floor, OP complex, <br>Above SBI ATM,
near P& M mall, kurji ,
Patna-10</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 8540999738</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Container (client) -->
<div id="services" class="container-fluid text-center">
  <h2>CLIENTs</h2>
  <br>
  <div class="row slideanim">

    <div class="col-sm-4">
<img src="/img/ola.png" class="img-round" alt="worker" width="180px" height="160">
      <h4>ola</h4>
    </div>
    <div class="col-sm-4">
     <img src="/img/culogo.png" class="img-round" alt="worker" width="180px" height="160">
      <h4>cu</h4>
      </div>
    <div class="col-sm-4">
      <img src="/img/dblogo.png" class="img-round" alt="worker" width="180px" height="160">
      <h4>DB</h4>
    </div>
  </div>
</div>

<footer class="container-fluid text-center" id="footer">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div class="row">
    <div class="col-sm-4"><a href="aboutus.html">About Us</a></div>
    <div class="col-sm-4"><a href="support.html">Support</a></div>
    <div class="col-sm-4"><a href="privacy.html">PrivacyPolicy</a></div>
  </div>

  <div class="row">
    <div class="col-sm-4"><a href="terms.html">Terms/Careers</a></div>
    <div class="col-sm-4"><a href="Officialblog.html">Official Blog</a></div>
    <div class="col-sm-4"><a href="client.html">Client Policy</a></div>
  </div>

  <div class="row">
    <div class="col-sm-4"><a href="blog.html">Blog</a></div>
    <div class="col-sm-4"><a href="presskit.html">Presskit</a></div>
    <div class="col-sm-4"><a href="Termscondition.html">Terms & Condition</a></div>
  </div>
</footer>
