/*.mainMenu a{
	text-decoration: none;
	background-color: #7ABA7A;
	padding: 25px 25px 23px 25px;

}*/


.mainMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainMenu li {
    float: left;
    /*background-color: #33333;*/
    margin-right:2px;
}

.mainMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;

    text-decoration: none;
}

.mainMenu li a:hover {
    background-color: #7ABA7A;

}

.mainFlex1{
	text-transform: uppercase;;
}

.register-form{
	margin-top:25px;
	background-color: rgb(255,255,255,0.5);
}

.test{
  width:100%;
}

.trans        {

    position:absolute;
    width:100%;
}

@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 1; -webkit-transform: scale(1); }
}
@keyframes scaleDown {
    to    { opacity: 0.0; -webkit-transform: scale(0.0); }
}


/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutRight {
    to    { transform:translateX(100%); }
    from      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@keyframes fadeIn {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes fadeOut {
    from    { opacity: 1; }
    to      { opacity: 0; }

}



 .ng-enter       { z-index: 8888; }
 /*.ng-leave       { z-index: 9999; }*/
 .ng-enter           { animation: fadeIn 0.3s both ease-in;}
 .ng-leave           { animation: fadeOut 0.2s both ease-in; }

 .login-page {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: auto;
   background: #333;
   padding: 3em;
 }

 .loginFrame{
   background: #fff;
 }

.addProduct{
  margin-top:10px;
}
