
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;

  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {

      color: #fff;
      padding: 200px;
      font-family: Montserrat, sans-serif;
      background-image: url('/img/careers.jpg');
      background-repeat: no-repeat;
      margin-top: 120px ;
      background-size: cover;
     /*opacity: 0.5;
     filter: alpha(opacity=50);*/
      height: 600px;
      margin-bottom: 0px;
      padding-left: 20px;


  }
  .jumbotron h3{
  	color: yellow;
  	font-weight: bold;
  	font-size: 35px;
margin-top: 70px;
padding-top: 0px;
margin-left: 10px;
text-align: left;
font-family: sans-serif;

  }
  .container-fluid {

      padding: 60px 50px;
  }
  #services{
  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff88+0,ffff88+100;Yellow+Flat+%231 */
background: rgb(255,255,136); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 0%, rgba(255,255,136,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=1); /* IE6-9 fallback on horizontal gradient */
  }
  #footer{
  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1); /* IE6-9 fallback on horizontal gradient */
  }

 #about{
 	padding-top: 10px;
 }

  .navbar {
      margin-bottom: 0;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+60,c79810+100 */
background: rgb(234,185,45); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(234,185,45,1) 60%, rgba(199,152,16,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(234,185,45,1) 60%,rgba(199,152,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(234,185,45,1) 60%,rgba(199,152,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1); /* IE6-9 fallback on horizontal gradient */ z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;


  }
  .navbar li a, .navbar .navbar-brand {
      color: black !important;
      font-weight: bold;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .nav{
  	padding-top: 45px;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  .btn{
  	color: white !important;
  	background: black !important;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }

  }
  .container{
  	height: 130px;

  }
  @media screen and (min-width: 320px) {
  .jumbotron{
  	max-width: 100%;
  }
  }
  .col-sm-10 h2{
  padding-left: 250px;
font-family: sans-serif;
  }
  .col-sm-10 h4{
font-family: sans-serif;
  	padding-left: 250px;
  }
  #btn3{
  margin-left: 580px;
  }
    #condiv{
    	margin-top: 0px;
    	padding-top: 20px;
    	padding-right: 50px;
    	height: 100%;
    	width: 100%;
    	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+45,f8b500+57,fbdf93+100 */
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 45%, rgba(248,181,0,1) 57%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 45%,rgba(248,181,0,1) 57%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 45%,rgba(248,181,0,1) 57%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    #cont2{
    	background: yellow;
    	background-size: cover;
    }
   .col-sm-4{
   	color: black;
   	font-size: 15px;
   	font-weight: bold;
   }
   .col-xs-2{
   	padding-right: 0px;
   	margin-right: 0px;
   	padding-left: 0px;
   	margin-left: 0px;
   }
   #searchbut{

   border:2px solid #FFC300;
   background: #FFC300;
   font-size: 16px;text-decoration: underline;
   color: black;
   font-weight: bold;
   }
   #searchbut:hover{
   	background: red;
   	color: white;
   	border:2px solid red;
   }
   #aboutdesc{
   padding-left: 1000px;
   }
   #row2{
   	padding-left: 25px;
   	padding-top: 40px;

   }
   .dropdown-menu li:hover{
   	background: green;
   }
    .modal-header, #heading4, .close {
      background-color: #88b7c5;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #c4fff9;
  }
  }
.margin{
    margin-top: 63px !important;
}

.navbar {
    margin-bottom: 0;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+60,c79810+100 */
background: rgb(234,185,45); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(234,185,45,1) 60%, rgba(199,152,16,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(234,185,45,1) 60%,rgba(199,152,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(234,185,45,1) 60%,rgba(199,152,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1); /* IE6-9 fallback on horizontal gradient */ z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;


}
.navbar li a, .navbar .navbar-brand {
    color: black !important;
    font-weight: bold;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.nav{
  padding-top: 45px;
}

.container-fluid {

    padding: 60px 50px;
}
.container{
  height: 130px;
}
/*login styling*/
.modal-header, #loginhead, .close {
    background-color: #88b7c5;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #c4fff9;
}
#myNavbar{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+60,c79810+100 */
background: rgb(234,185,45); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(234,185,45,1) 60%, rgba(199,152,16,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(234,185,45,1) 60%,rgba(199,152,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(234,185,45,1) 60%,rgba(199,152,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1); /* IE6-9 fallback on horizontal gradient */  padding-right: 20px;
  text-align: left;
  margin-left: 200px;
  border: 0px solid #FFBF00;
margin-top: 20px;
margin-bottom: 30px;
}
/*table container*/
#cont3{
  margin-top: 130px;

}
/*services*/
.col-sm-4{
  color: black;
  font-size: 15px;
  font-weight: bold;
 }
  .container-fluid {

    padding: 60px 50px;
}
#services{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff88+0,ffff88+100;Yellow+Flat+%231 */
background: rgb(255,255,136); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 0%, rgba(255,255,136,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=1); /* IE6-9 fallback on horizontal gradient */
}
 h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
/*about*/
#about{
padding-top: 10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.container-fluid {

    padding: 60px 50px;
}
 @media screen and (min-width: 320px) {
.jumbotron{
  max-width: 100%;
}
}
.col-sm-10 h2{
padding-left: 250px;
font-family: sans-serif;
}
.col-sm-10 h4{
font-family: sans-serif;
  padding-left: 250px;
}
#btn3{
margin-left: 580px;
} @media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }

}


/*footer*/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

/*CONTACT*/
.btn{
  color: white;
  background: black;
}
/*signup*/
#modalhead,#heading4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
/*to the top*/
#myBtn3{

}
#paybtn{
    border:1px solid lightgray;
  }
  #paybtn:hover{
background: lightgreen;
color: black;
border:1px solid lightgreen;
  }
  #cont3{
    margin-top: 130px;
    color: black;
    font-weight: bold;
  }
  #cont4{
  	margin-top: 130px;
    color: black;
    font-weight: bold;

  }
